.nav-veileder {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.nav-veileder--advarsel .nav-veileder__snakkeboble {
  background: #ffd799;
}
.nav-veileder--advarsel .nav-veileder__snakkeboblePil {
  border-right: 1.25rem solid #ffd799;
}
.nav-veileder--advarsel .nav-veileder__snakkeboblePil--venstre {
  border-right: 0;
  border-left: 1.25rem solid #ffd799;
}
.nav-veileder--feilmelding .nav-veileder__snakkeboble {
  background: #ba3a26;
  color: white;
}
.nav-veileder--feilmelding .nav-veileder__snakkeboblePil {
  border-right: 1.25rem solid #ba3a26;
}
.nav-veileder--feilmelding .nav-veileder__snakkeboblePil--venstre {
  border-right: 0;
  border-left: 1.25rem solid #ba3a26;
}
.nav-veileder--suksess .nav-veileder__snakkeboble {
  background: #99dead;
}
.nav-veileder--suksess .nav-veileder__snakkeboblePil {
  border-right: 1.25rem solid #99dead;
}
.nav-veileder--suksess .nav-veileder__snakkeboblePil--venstre {
  border-right: 0;
  border-left: 1.25rem solid #99dead;
}
.nav-veileder--topp {
  flex-direction: column;
}
.nav-veileder--bunn {
  flex-direction: column-reverse;
}
.nav-veileder--hoyre {
  flex-direction: row-reverse;
}
.nav-veileder--venstre {
  flex-direction: row;
}
.nav-veileder__frame {
  align-items: flex-end;
  background: #c9c9c9;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  order: 3;
  overflow: hidden;
}
.nav-veileder__frame svg,
.nav-veileder__frame img {
  height: 90%;
  width: 100%;
}
.nav-veileder__frame--center {
  align-items: center;
}
.nav-veileder__frame--center svg,
.nav-veileder__frame--center img {
  height: 100%;
}
.nav-veileder__frame--transparent {
  background: none;
}
.nav-veileder__frame--nomask {
  overflow: visible;
}
.nav-veileder__frame--s {
  height: 5rem;
  width: 5rem;
}
.nav-veileder__frame--s ~ .nav-veileder__snakkeboble--flytende {
  bottom: 5rem;
}
.nav-veileder__frame--s ~ .nav-veileder__snakkeboblePil--flytende {
  bottom: 4.1rem;
  transform: scale(0.5);
}
.nav-veileder__frame--m {
  height: 6.25rem;
  width: 6.25rem;
}
.nav-veileder__frame--m ~ .nav-veileder__snakkeboble--flytende {
  bottom: 6.5rem;
}
.nav-veileder__frame--m ~ .nav-veileder__snakkeboblePil--flytende {
  bottom: 5.5rem;
  transform: scale(0.666667);
}
.nav-veileder__frame--l {
  height: 10rem;
  width: 10rem;
}
.nav-veileder__frame--l ~ .nav-veileder__snakkeboble--flytende {
  bottom: 10rem;
}
.nav-veileder__frame--l ~ .nav-veileder__snakkeboblePil--flytende {
  bottom: 8.8rem;
  transform: scale(1.06667);
}
.nav-veileder__frame--xl {
  height: 15rem;
  width: 15rem;
}
.nav-veileder__frame--xl ~ .nav-veileder__snakkeboble--flytende {
  bottom: 15rem;
}
.nav-veileder__frame--xl ~ .nav-veileder__snakkeboblePil--flytende {
  bottom: 14rem;
  transform: scale(1.6);
}
.nav-veileder__frame--info {
  background: #97e6ff;
}
.nav-veileder__frame--suksess {
  background: #99dead;
}
.nav-veileder__frame--advarsel {
  background: #ffd799;
}
.nav-veileder__frame--feilmelding {
  background: #efa89d;
}
.nav-veileder__snakkeboble {
  background: #efefef;
  border-radius: 0.5rem;
  order: 1;
  padding: 1.25rem;
  text-align: left;
}
.nav-veileder__snakkeboble--hvit {
  background: white;
}
.nav-veileder__snakkeboble--flytende {
  position: absolute;
}
.nav-veileder__snakkeboblePil {
  border-bottom: 1.25rem solid transparent;
  border-right: 1.25rem solid #efefef;
  display: block;
  height: 1.25rem;
  order: 2;
}
.nav-veileder__snakkeboblePil--hvit {
  border-right-color: white;
}
.nav-veileder__snakkeboblePil--flytende {
  position: absolute;
  right: 50%;
}
.nav-veileder__snakkeboblePil--topp {
  margin-right: 40px;
}
.nav-veileder__snakkeboblePil--bunn {
  border-bottom: 0;
  margin-right: 40px;
  border-top: 1.25rem solid transparent;
}
.nav-veileder__snakkeboblePil--hoyre {
  margin-left: 0.75rem;
  border-top: 1.25rem solid transparent;
}
.nav-veileder__snakkeboblePil--venstre {
  border-left: 1.25rem solid #efefef;
  border-top: 1.25rem solid transparent;
  border-right: 0;
  margin-right: 0.75rem;
}
.nav-veileder__snakkeboblePil--hvit.nav-veileder__snakkeboblePil--venstre {
  border-left-color: white;
}

.nav-veilederpanel {
  background-color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  position: relative;
  border-radius: 0.5rem;
  border: 2px solid #c9c9c9;
  min-height: 7.25rem;
  padding: 1.5rem;
  padding-left: 7rem;
  background: white;
  display: flex;
  align-items: center;
  text-align: left;
}
.nav-veilederpanel__content {
  width: 100%;
}
.nav-veilederpanel .nav-veileder {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.nav-veilederpanel--plakat {
  padding: 2rem;
  padding-top: 8.25rem;
}
.nav-veilederpanel--plakat .nav-veileder {
  left: 50%;
  margin-left: -3.125rem;
}
.nav-veilederpanel--kompakt:not(.nav-veilederpanel--plakat) {
  padding: 1.5rem;
  padding-left: 3.5rem;
  margin-left: 2.5rem;
}
.nav-veilederpanel--kompakt:not(.nav-veilederpanel--plakat) .nav-veileder {
  left: -40px;
}
.nav-veilederpanel--kompakt.nav-veilederpanel--plakat {
  margin-top: 3.125rem;
  padding: 2rem;
  padding-top: 4.25rem;
}
.nav-veilederpanel--kompakt.nav-veilederpanel--plakat .nav-veileder {
  top: -50px;
}
.nav-veilederpanel--info {
  border: 2px solid #97e6ff;
}
.nav-veilederpanel--suksess {
  border: 2px solid #99dead;
}
.nav-veilederpanel--advarsel {
  border: 2px solid #ffd799;
}
.nav-veilederpanel--feilmelding {
  border: 2px solid #efa89d;
}

.modalContent {
  max-width: 500px;
}
.modalContent__header {
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}
.modalContent__paragraph {
  padding-bottom: 10px;
}
.modalContent ul {
  margin-top: 0;
}
.modalContent li {
  padding-bottom: 8px;
}
.modalContent__subList {
  list-style-type: none;
  margin-left: 15px;
  padding-top: 8px;
}
.modalContent__subList li::before {
  content: "-";
  position: absolute;
  margin-left: -15px;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.velkommen {
  max-width: 704px;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  .velkommen {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .velkommen {
    padding: 1rem;
  }
}
.velkommen__tittel {
  text-align: center;
}
.velkommen__startSøknadKnapp {
  text-align: center;
}
.velkommen__personopplysningLenke {
  text-align: center;
}

.spinner {
  display: inline-block;
  position: relative;
  animation: spinner-rotate 1.4s linear infinite;
}
.spinner circle:nth-child(3) {
  animation: spinner-dasharray 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
}
.spinner--xxs {
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
}
.spinner--xs {
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
}
.spinner--s {
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
}
.spinner--m {
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
}
.spinner--l {
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
}
.spinner--xl {
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
}
.spinner--xxl {
  height: 128px;
  width: 128px;
  background-size: 128px 128px;
}
.spinner--xxxl {
  height: 256px;
  width: 256px;
  background-size: 256px 256px;
}
@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-dasharray {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px;
  }
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.knappmini-mixin {
  padding: calc(.25rem - 1px) 1.5rem calc(.25rem - 1px) 1.5rem;
  min-height: 2rem;
}
.knappdisabled-mixin:disabled,
.knappdisabled-mixin--disabled {
  background-color: #a0a0a0;
  border-color: #a0a0a0;
  color: #fff;
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
}
.knappdisabled-mixin:disabled::after,
.knappdisabled-mixin--disabled::after {
  display: none;
}
.knappdisabled-mixin:disabled:hover,
.knappdisabled-mixin--disabled:hover,
.knappdisabled-mixin:disabled:focus,
.knappdisabled-mixin--disabled:focus {
  box-shadow: none;
  background-color: #a0a0a0;
  border-color: #a0a0a0;
  color: #fff;
}
/* Beholdes i kode for å unngå breaking change */
.slettKnapp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: inherit;
  font-size: 1em;
  white-space: nowrap;
  border-radius: 0.125em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 0.0625em;
  line-height: 1.375rem;
  text-decoration: none;
  background-color: #fff;
  padding: calc(.475rem - 1px) 2.5rem calc(.525rem - 1px) 2.5rem;
  min-height: 2.5rem;
  vertical-align: middle;
  width: 2rem;
  padding: 0.3em;
  border: none;
  background: none;
}
.slettKnapp:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00347d;
}
.slettKnapp svg * {
  stroke: #0067c5;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.attachmentButton {
  display: flex;
  height: 4rem;
  border: 2px dashed #c6c2bf;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.attachmentButton__icon {
  display: inline-block;
  margin-right: 0.5rem;
}
.attachmentButton__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 12px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.attachmentButton input {
  display: none;
}
.attachmentList {
  margin: 0;
  padding: 0;
}
.attachmentList li {
  padding: 0;
  margin: 0 0 1.5rem 0;
  list-style-type: none;
}
.attachmentList li:last-child {
  margin-bottom: 0;
}
.attachment {
  position: relative;
  padding-left: 1rem;
}
.attachment__spinner {
  position: absolute;
  left: 0;
  top: 0;
}
.attachment__icon {
  position: absolute;
  left: 0;
  top: 0;
}
.attachment__filename {
  margin-left: 1rem;
  margin-right: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.attachment__deleteButton {
  position: absolute;
  right: 0;
  top: -0.5rem;
}
.attachment--pending .attachment__icon {
  display: none;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.omBarnet {
  max-width: 704px;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  .omBarnet {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .omBarnet {
    padding: 1rem;
  }
}

.bostedUtlandList__land {
  display: block;
  margin-bottom: 0.125rem;
}
@media (min-width: 650px) {
  .bostedUtlandList__label {
    display: flex;
  }
  .bostedUtlandList__land {
    flex: 2 1 0;
    display: block;
    margin-bottom: 0;
  }
  .bostedUtlandList__dato {
    padding-right: 1rem;
  }
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.utenlandsopphold {
  max-width: 704px;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  .utenlandsopphold {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .utenlandsopphold {
    padding: 1rem;
  }
}

.søkersPersonalia {
  display: flex;
  align-items: center;
}
.søkersPersonalia__label {
  margin-left: 1rem;
}
.søkersPersonalia__name {
  display: inline-block;
  margin-bottom: 0.25rem;
}
.søkersPersonalia__personNummer {
  display: inline-block;
}

.ReactCollapse--collapse {
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ekspanderbartPanel {
  position: relative;
  background: white;
  border-radius: 0.25rem;
}
.ekspanderbartPanel:hover,
.ekspanderbartPanel--hover {
  box-shadow: #a0a0a0 0 2px 1px 0;
}
.ekspanderbartPanel:focus,
.ekspanderbartPanel--focus {
  box-shadow: 0 0 0 3px #00347d;
  outline: none;
}
.ekspanderbartPanel__hode {
  background-color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  background: transparent;
  border: 0;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
}
.ekspanderbartPanel__hode .ekspanderbartPanel__tittel {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 600;
  color: #262626;
}
.ekspanderbartPanel__hode:hover,
.ekspanderbartPanel__hode--hover {
  cursor: pointer;
}
.ekspanderbartPanel__hode:hover .ekspanderbartPanel__tittel,
.ekspanderbartPanel__hode--hover .ekspanderbartPanel__tittel {
  text-decoration: underline;
  color: #0067c5;
}
.ekspanderbartPanel__hode:focus,
.ekspanderbartPanel__hode--focus {
  box-shadow: 0 0 0 3px #00347d;
  outline: none;
}
.ekspanderbartPanel__flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ekspanderbartPanel__innhold {
  padding: 1rem;
  padding-top: 0.5rem;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator {
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: 200ms transform;
  vertical-align: middle;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before,
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
  transition: 200ms transform;
  border-radius: 10px;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before {
  transform: translateX(2px) rotate(45deg);
}
.ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
  transform: translateX(-2px) rotate(-45deg);
}
.ekspanderbartPanel--border {
  border: 1px solid #6a6a6a;
}
.ekspanderbartPanel--border:hover,
.ekspanderbartPanel--border.panel-interaktiv-mixin--hover {
  border: 1px solid #0067c5;
}
.ekspanderbartPanel--border.ekspanderbartPanel--apen {
  border: 1px solid #6a6a6a;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ekspanderbartPanel--apen .ekspanderbartPanel__innhold {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator {
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: 200ms transform;
  vertical-align: middle;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before,
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
  transition: 200ms transform;
  border-radius: 10px;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before {
  transform: translateX(2px) rotate(-45deg);
}
.ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
  transform: translateX(-2px) rotate(45deg);
}

.labeltext {
  font-weight: 600;
}

.landOppsummering {
  margin: 0;
  margin-top: 0.75rem;
  padding: 0;
  position: relative;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.oppsummering {
  max-width: 704px;
  margin: 0 auto;
  padding: 2rem;
  background: #efefef;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .oppsummering {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .oppsummering {
    padding: 1rem;
  }
}
.oppsummering__sendSøknadKnapp {
  text-align: center;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.umyndig__info {
  margin-bottom: 1rem;
}
.umyndig__content {
  max-width: 704px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (max-width: 768px) {
  .umyndig__content {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .umyndig__content {
    padding: 1rem;
  }
}

.kvitteringHeader {
  text-align: center;
}
.kvitteringHeader__spotlightLetter {
  margin-top: 2rem;
}
.kvitteringHeader__sendtInnTid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kvitteringHeader__vedleggWrapper {
  display: flex;
  justify-content: center;
}
.kvitteringHeader__vedleggLink {
  padding-left: 0.5rem;
}
.kvitteringHeader__vedleggIkon {
  color: #000;
}

.etikett {
  display: inline-block;
  padding: 4px 9px;
  border-radius: 4px;
}
.etikett--advarsel {
  background-color: #f9d2cc;
  border: 1px solid #ba3a26;
}
.etikett--suksess {
  background-color: #ccf1d6;
  border: 1px solid #06893a;
}
.etikett--fokus {
  background-color: #ffeccc;
  border: 1px solid #d47b00;
}
.etikett--info {
  background-color: #d8f9ff;
  border: 1px solid #368da8;
}
.etikett--mini {
  padding: 1px 8px;
}

.lenkepanel {
  background-color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 4px;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #262626;
}
.lenkepanel:hover,
.lenkepanel--hover {
  box-shadow: #a0a0a0 0 2px 1px 0;
}
.lenkepanel:focus,
.lenkepanel--focus {
  box-shadow: 0 0 0 3px #00347d;
  outline: none;
}
.lenkepanel__indikator {
  display: inline-block;
  flex-shrink: 0;
  height: 2px;
  line-height: 2px;
  width: 20px;
  position: relative;
  text-align: center;
  transition: 200ms transform;
  vertical-align: middle;
  transform: rotate(-90deg);
  left: 0;
  transition: left 250ms;
}
.lenkepanel__indikator::before,
.lenkepanel__indikator::after {
  transition: 200ms transform;
  border-radius: 10px;
}
.lenkepanel__indikator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.lenkepanel__indikator::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: currentColor;
}
.lenkepanel__indikator::before {
  transform: translateX(2px) rotate(45deg);
}
.lenkepanel__indikator::after {
  transform: translateX(-2px) rotate(-45deg);
}
.lenkepanel:hover .lenkepanel__heading,
.lenkepanel--hover .lenkepanel__heading {
  text-decoration: underline;
  color: #0067c5;
}
.lenkepanel:hover .lenkepanel__indikator,
.lenkepanel--hover .lenkepanel__indikator {
  left: 6px;
}
.lenkepanel--border {
  border: 1px solid #c9c9c9;
  border: 1px solid #6a6a6a;
}
.lenkepanel--border:hover,
.lenkepanel--border.panel-interaktiv-mixin--hover {
  border: 1px solid #0067c5;
}

.statusBoks {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.statusBoks__right {
  padding-top: 0.125rem;
}
.statusBoks__lenkepanel.lenkepanel--border {
  border: 1px solid #c6c2bf;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.kvittering {
  width: 100%;
  margin-bottom: 2rem;
}
.kvittering__suksess {
  border: 1px solid #9bd0b0;
  border-radius: 4px;
  background-color: #9bd0b0;
  display: flex;
  padding: 1rem;
  align-items: center;
  width: 100%;
}
.kvittering--mangler-vedlegg {
  border: 1px solid #ffe9cc;
  background-color: #ffe9cc;
}
.kvittering__ikon {
  min-width: 3rem;
  height: 24px;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.søknadSendtSectionHeader {
  display: flex;
  flex-flow: column;
}
.søknadSendtSectionHeader__punkt {
  display: flex;
  flex-flow: row;
}
.søknadSendtSectionHeader__ikon {
  margin-right: 2rem;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.søknadSendt {
  max-width: 704px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 726px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .søknadSendt {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .søknadSendt {
    padding: 1rem;
  }
}
.søknadSendt__foreldrepengerPanel {
  background-color: #e0f5fb;
}
.søknadSendt__tittel {
  overflow: hidden;
  text-align: center;
}
.søknadSendt__tittel:after {
  content: '';
  display: inline-block;
  height: 0.75rem;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  padding-right: 0.5rem;
  margin-left: 1rem;
  border-top: 1px solid #c6c2bf;
}
.søknadSendt__tittel:before {
  content: '';
  display: inline-block;
  height: 0.75rem;
  vertical-align: bottom;
  width: 100%;
  margin-left: -100%;
  padding-left: 0.5rem;
  margin-right: 1rem;
  border-top: 1px solid #c6c2bf;
}

.søknadSendtTittel {
  background-color: #c1b5d0;
  padding: 1rem 1.25rem 1rem 1.25rem;
  text-align: center;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.feilside {
  max-width: 704px;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  .feilside {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .feilside {
    padding: 1rem;
  }
}


/*# sourceMappingURL=AppContainer-stories.css.map?ee913d0ff8f9fa5f911c-fd6241cbbf499450fbeb-224b2c698bfde655e6b0-AppContainer-stories*/